!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'UTF-8'}
    %title
      Guard Template
    %link{rel: 'stylesheet', href: 'stylesheets/application.css'}
    %script{src: 'javascripts/application.js'}
  %body
